<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"
            integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-yaml@3.14.0/dist/js-yaml.min.js"
            integrity="sha256-8mtDTinb8+d2bC/9KhCJoCRBEylWUIV/3YEt5cSUvRk="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Constructicon</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="container">

        <!-- navigation -->
        <div class="row top-buffer">
          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link show active" data-toggle="tab" href="#browse">Browse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link show" data-toggle="tab" href="#daily_topic">Daily dose</a>
              </li>
              <li class="nav-item">
                <a class="nav-link show" data-toggle="tab" href="#advanced_search">Advanced search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link show" data-toggle="modal" href="#instructions_modal">Instructions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link show" data-toggle="modal" href="#about_modal">About</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row top-buffer">
          <div class="col-md-12">
            <div v-if="all_data_loaded">
              <select v-model="current_record_number" class="form-control">
                <option v-for="record_number in record_numbers">
                  {{ record_number }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row top-buffer">
          <div class="col-md-12">
            <div v-if="all_data_loaded">
              <div v-if="current_record_number != null">
                <b>NAME</b> <b>{{ records[current_record_number].name }}</b> - <i>{{ records[current_record_number].illustration }}</i>
                <div v-for="definition in records[current_record_number].definitions">
                  <br>
                  <b>DEFINITION ({{ key(definition) }})</b> {{ value(definition) }}
                  <br>
                </div>

                <br>
                <b>STRUCTURE</b> {{ records[current_record_number].structure_in_ud }}
                <br>

                <br>
                <b>EXAMPLES</b>
                <ul v-for="example in records[current_record_number].examples">
                  <li>{{ example }}</li>
                </ul>

                <br>
                <b>CEFR LEVEL</b> {{ records[current_record_number].cefr_level }}
              </div>
            </div>
          </div>
        </div>

        <!-- instructions -->
        <div class="modal fade" id="instructions_modal" tabindex="-1" role="dialog" aria-labelledby="instructions_modal_label" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="instructions_modal_label">Instructions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

	      <div class="modal-body">
                <p>
                  Instructions on how to use the Constructicon in here ...
                </p>
              </div>

	      <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end instructions -->

        <!-- about -->
        <div class="modal fade" id="about_modal" tabindex="-1" role="dialog" aria-labelledby="about_modal_label" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="about_modal_label">About the Constructicon project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

	      <div class="modal-body">
                <p>
                  Text about the Constructicon in here ...
                </p>
              </div>

	      <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end about -->

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <script src="js/constructicon.js"></script>
  </body>
</html>
