{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-4">
      <nav id="my_content" class="h-100 flex-column align-items-stretch pe-4 border-end">
        <nav class="nav nav-pills flex-column" style="position: relative; height: 500px;">
          <a class="nav-link" href="#about">About the project</a>
          <nav class="nav nav-pills flex-column">
<!--            <a class="nav-link ml-3 my-1" href="#item-1">1. What is the Russian Constructicon</a>-->
<!--            <a class="nav-link ml-3 my-1" href="#item-2">2. Code and data</a>-->
<!--            <a class="nav-link ml-3 my-1" href="#item-3">3. Team behind this project</a>-->
<!--            <a class="nav-link ml-3 my-1" href="#item-4">4. Key publications</a>-->
<!--            <a class="nav-link ml-3 my-1" href="#item-5">5. How to cite</a>-->
<!--            <a class="nav-link ml-3 my-1" href="#item-6">6. Что такое Русский Конструктикон</a>-->
          </nav>
        </nav>
      </nav>
    </div>

    <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#my_content" data-bs-smooth-scroll="true" style="position: relative; height: 500px; overflow-y: scroll;">
          <div id="about">
            <h2>About the project</h2>
          </div>
          <div id="item-1">
            The Ukrainian Constructicon (UkrCon) is a collection of Ukrainian multi-word grammatical
            constructions, i.e. prominent linguistic patterns of phrase and sentence structures that are
            characteristic of the Ukrainian language.
            <br>
            Frequently used and recognizable Ukrainian constructions include structures like
            час від часу VP ‘do something occasionally’, чи то NP, чи то NP ‘it is unclear whether X or Y’,
            чого доброго VP-Pfv.Fut ‘it can happen’, and many others.
            <br>
            A construction is understood here according to Construction Grammar theory (Goldberg 2004)
            as a central unit of language structure and language description: each construction is a pairing
            of form and meaning (or function) learned in the process of language use. More specifically, a
            construction is a generalization that speakers (might) make over specific linguistic usages.
            <br>
            Constructions in a language form a system, a structured inventory, termed construct-i-con, that
            accounts for the entirety of the language (see Fillmore 1988, Langacker 2008, Goldberg &amp;
            Herbst 2021).
            <br>
            UkrCon is a research project that aims to contribute to the emergent interdisciplinary field of
            Constructicography that lies at the crossroads of theoretical linguistics, usage-based methods,
            and language technology (Lyngfelt et al. 2018).
            <br>
            Today, comparable constructicon resources exist for very few languages. In this light, the
            Ukrainian Constructicon serves to develop and enrich this scholarly field with additional
            empirical data that can potentially facilitate new theoretical insights.
            <br>
            This project takes the initiative of making the linguistic data on Ukrainian constructions more
            accessible and visible to the scholarly linguistic community, as well as to learners of Ukrainian
            as a second language and to the general public. Moreover, the outcome product can serve to
            develop automatic translation software and educational materials.
            <br>
            The project is administered at UiT The Arctic University of Norway.
          </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

{% endblock content %}