{% extends "base.html" %}

{% block content %}
<ul class="nav nav-tabs " id="myTab" role="tablist" style="margin-left: 50px; margin-top: 15px;">
  <li class="nav-item" role="presentation">
    <button class="nav-link active btn btn-outline-info" id="ukr-tab" data-bs-toggle="tab" data-bs-target="#ukr" type="button" role="tab" aria-controls="ukrainian" aria-selected="true">Ukr</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link btn btn-outline-info" id="eng-tab" data-bs-toggle="tab" data-bs-target="#eng" type="button" role="tab" aria-controls="english" aria-selected="false">Eng</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link btn btn-outline-info" id="rus-tab" data-bs-toggle="tab" data-bs-target="#rus" type="button" role="tab" aria-controls="russian" aria-selected="false">Rus</button>
  </li>
</ul>
<div class="tab-content p-3" id="myTabContent">

  <div class="tab-pane fade show active" id="ukr" role="tabpanel" aria-labelledby="ukr-tab">
    <h2>Проєкт</h2>
    <p>
      Український конструктикон (УкрКон) – це збірка українських багатослівних
      граматичних конструкцій, тобто яскравих мовних моделей структур фраз і речень,
      характерних для української мови.
      <br><br>
      Такими частотними та характерними українськими конструкціями є, наприклад,
      структури типу <b>час від часу VP; чи то NP, чи то NP; чого доброго VP-Pfv.Fut</b> та
      багато інших. Згідно з теорією Граматики конструкцій (Goldberg 2004),
      конструкція розуміється як центральна та основна одиниця мови та її опису:
      кожна конструкція є єдністю форми та значення (або функції), яка засвоюється у
      процесі використання мови. Зокрема, конструкція, як правило, є деяким
      узагальненням, яке (гіпотетично) складається у мовця у результаті
      абстрагування від безпосередніх прикладів її вживання. У мові конструкції
      утворюють систему, чи організовану певним чином мережу, яку позначають
      терміном «конструктикон» (див. Fillmore 1988, Langacker 2008, Goldberg&amp;Herbst
      2021). За допомогою конструкцій можна описати кожну окрему мову у всій її
      повноті та унікальності.
      <br><br>
      УкрКон – це дослідницький проект, який прагне зробити внесок у нову
      міждисциплінарну галузь, конструктікографію, що лежить на перехресті
      теоретичної лінгвістики, методів вивчення функціонування мови та комп&#39;ютерної
      лінгвістики (Lyngfelt та ін. 2018).
      <br><br>
      Аналогічні ресурси існують сьогодні лише для невеликої кількості мов. Таким
      чином, створення Українського конструктикону розвиває цю область досліджень
      та збагачує її новими та додатковими емпіричними мовними даними, які
      потенційно можуть сприяти появі нових ідей у теоретичному осмисленні мови.
      <br><br>
      Завдяки цьому проекту українські конструкції та їх мовні особливості залучать
      увагу наукової лінгвістичної спільноти, стануть більш зрозумілими та доступними
      для тих, хто вивчає українську як іноземну, а також для широкої аудиторії
      користувачів. Крім того, зібрані дані будуть корисними для розробки та
      вдосконалення програмного забезпечення автоматичного перекладу та при
      створенні нових навчальних матеріалів.
      <br><br>
      Для кожної конструкції ресурс містить визначення її семантики (англійською,
      українською та російською мовами), набір тегів і пропонує приклади її
      використання в автентичних українських текстах із <b>Генерального регіонального
      анотованого корпусу української мови (ГРАК)</b> (GRAC, http:
      //uacorpus.org/Kyiv/en/gracinfo).
      <br><br>
      Проектом керує Університет Тромсе – Арктичний університет Норвегії.
      Логотип до интерфейсу создан Даниэлем Коваликом.
    <h2>Програмний код та дані</h2>
    <p>
      Програмний код: https://github.com/constructicon/ukrainian<br>
      Дані: https://github.com/constructicon/ukrainian-data
    </p>
    <h2>Розробники</h2>
    <p>
      Юлія Палій (доцент української лінгвістики, Університет Тромсе – Арктичний університет
      Норвегії): контент, збір мовних даних, аналіз, опис конструкцiй, анотування, статті та
      доповіді<br><br>
      Зоя Бутенко (студентка факультету iнформатики, Університет
      Осло): програмування, інтерфейс, статті та доповіді<br><br>
      Лора А. Янда (професор, Університет Тромсе – Арктичний університет Норвегії): загальна
      концепція, аналіз даних, статті та доповіді<br><br>
      Анна Ендресен (науковий спiвробiтник, Університет Тромсе – Арктичний університет
      Норвегії): загальна концепція, попереднє дослідження, дизайн iнтерфейсу, статті та
      доповіді<br><br>
      Валентина Жукова (докторський науковий співробітник, Університет Тромсе – Арктичний
      університет Норвегії): загальна концепція, попереднє дослідження, дизайн iнтерфейсу,
      статті та доповіді
    </p>
    <h2>Статті та доповіді</h2>
    <p>
      “A Constructicon for Ukrainian: Objectives, Strategies, Results” [= Конструктикон для
      української мови: цілі, стратегії, результати], доповідь на 16 Міжнародній конференції з
      ïДюссельдорфський університет іменi Генріха Гейне, Дюссельдорф, Німеччина, 7–11
      серпня 2023 р., https://iclc16.phil.hhu.de
    </p>
    <p>
      “The Ukrainian Constructicon: a new research-based educational linguistic resource for
      Ukrainian” [= Укранський конструктикон: новий науково-дослідний освітній лінгвістичний
      ресурс для української мови] – випуск ресурсу, Університет Тромсе – Арктичний
      університет Норвегії, серпень 2023 р.
    </p>
    <h2>Як цитувати</h2>
    <p>
      Український конструктикон. 2023. Палій, Юлія, Бутенко Зоя, Янда Лора А., Ендресен Анна,
      Жукова Валентина. https://github.com/constructicon/ukrainian
    </p>
    <h2>Як запропонувати конструкцію</h2>
    <p>
      Ви можете запропонувати конструкцію для цього ресурсу, надіславши листа за адресою
      yuliia.palii@hotmail.com
    </p>
  </div>
  <div class="tab-pane fade show" id="eng" role="tabpanel" aria-labelledby="eng-tab">
    <h2>Project</h2>
    The Ukrainian Constructicon (UkrCon) is a collection of Ukrainian multi-word grammatical
    constructions, i.e. prominent linguistic patterns of phrase and sentence structures that are
    characteristic of the Ukrainian language.
    <br><br>
    Frequently used and recognizable Ukrainian constructions include structures like
    <b>час від часу VP</b> ‘do something occasionally’, <b>чи то NP, чи то NP</b> ‘it is unclear whether X or Y’,
    <b>чого доброго VP-Pfv.Fut</b> ‘it can happen’, and many others.
    <br><br>
    A construction is understood here according to Construction Grammar theory (Goldberg 2004)
    as a central unit of language structure and language description: each construction is a pairing
    of form and meaning (or function) learned in the process of language use. More specifically, a
    construction is a generalization that speakers (might) make over specific linguistic usages.
    Constructions in a language form a system, a structured inventory, termed construct-i-con, that
    accounts for the entirety of the language (see Fillmore 1988, Langacker 2008, Goldberg &amp;
    Herbst 2021).
    <br><br>
    UkrCon is a research project that aims to contribute to the emergent interdisciplinary field of
    Constructicography that lies at the crossroads of theoretical linguistics, usage-based methods,
    and language technology (Lyngfelt et al. 2018).
    <br><br>
    Today, comparable constructicon resources exist for very few languages. In this light, the
    Ukrainian Constructicon serves to develop and enrich this scholarly field with additional
    empirical data that can potentially facilitate new theoretical insights.
    <br><br>
    This project takes the initiative of making the linguistic data on Ukrainian constructions more
    accessible and visible to the scholarly linguistic community, as well as to learners of Ukrainian
    as a second language and to the general public. Moreover, the outcome product can serve to
    develop automatic translation software and educational materials.
    <br><br>
    For each construction, the resource provides definition of its semantics (written in English,
    Ukrainian, and Russian), a set of tags, and offers examples of its use in authentic Ukrainian texts
    from the General Regionally Annotated Corpus of Ukrainian (GRAC,
    http://uacorpus.org/Kyiv/en/gracinfo).
    <br><br>
    The project is administered at UiT The Arctic University of Norway.
    The logo of the interface is created by Daniel Kovalik.
    <h2>Code and data</h2>
    Source code: https://github.com/constructicon/ukrainian
    Source data: https://github.com/constructicon/ukrainian-data
    <h2>Developers</h2>
    Yuliia Palii (associate professor in Ukrainian linguistics, UiT The Arctic University of Norway):
    content, data mining, data analysis, data description, annotation, dissemination<br><br>
    Zoia Butenko (undergraduate student in Language Technology, University of Oslo): programming, interface, dissemination<br><br>
    Laura A. Janda (professor, UiT The Arctic University of Norway): general concept, data analysis,
    dissemination<br><br>
    Anna Endresen (postdoctoral researcher, UiT The Arctic University of Norway): general concept,
    background research, design, dissemination<br><br>
    Valentina Zhukova (doctoral research fellow, UiT The Arctic University of Norway): general
    concept, background research, design, dissemination
    <h2>Dissemination</h2>
    “A Constructicon for Ukrainian: Objectives, Strategies, Results”, talk at the 16 th International
    Cognitive Linguistics Conference (ICLC 16), Heinrich Heine University Düsseldorf, Germany,
    August 7-11, 2023, https://iclc16.phil.hhu.de<br><br>
    “The Ukrainian Constructicon: a new research-based educational linguistic resource for
    Ukrainian” - Public launch, UiT The Arctic University of Norway, August 2023
    <h2>How to cite</h2>
    The Ukrainian Constructicon. 2023. Palii, Yuliia, Zoia Butenko, Laura A. Janda, Anna Endresen,
    Valentina Zhukova. https://github.com/constructicon/ukrainian
    <h2>How to suggest a construction</h2>
    You can suggest a construction for this resource by sending an e-mail to yuliia.palii@hotmail.com
  </div>
  <div class="tab-pane fade show" id="rus" role="tabpanel" aria-labelledby="rus-tab">
    <h2>Проект</h2>
    Украинский конструктикон (УкрКон) – это коллекция украинских неоднословных
    грамматических конструкций, то есть тех значимых типов структуры предложений и фраз,
    которые являются характерными для украинского языка.
    <br><br>
    Такими частотными и узнаваемыми украинскими конструкциями являются, например,
    структуры типа <b>час від часу VP</b> со значением ‘делать что-то время от времени’, <b>чи то NP,
    чи то NP</b> со значением ‘неясно, то ли это X или Y’, <b>чого доброго VP-Pfv.Fut</b> со значением
    ‘чего доброго, ...’, и многие другие.
    <br><br>
    Конструкция понимается здесь в соответствии с теорией Грамматики Конструкций, а
    именно как центральная и основная единица языкового устройства и его описания.
    Каждая конструкция представляет собой единство формы и значения (или функции),
    которое усваивается в процессе использования языка. В частности, конструкция как
    правило является некоторым обобщением, которое (гипотетически) складывается у
    говорящего в результате абстрагирования от непосредственных примеров ее
    употребления. В языке конструкции образуют систему, или организованную
    определенным образом сеть, которую принято обозначать термином конструктикон (см.
    Fillmore 1988, Langacker 2008, Goldberg &amp; Herbst 2021). Посредством конструкций можно
    описать каждый отдельный язык во всей его полноте и уникальности.
    <br><br>
    УкрКон – это научный проект, который стремится внести вклад в зарождающуюся
    междисциплинарную область исследований, получившую название конструктикография
    и лежащую на пересечении 1) теоретической лингвистики, 2) методов изучения
    функционирования языка и 3) компьютерной лингвистики (Lyngfelt et al. 2018).
    <br><br>
    Аналогичные ресурсы существуют сегодня только для крайне небольшого числа языков. В
    этом свете создание Украинского конструктикона развивает данную область
    исследований и обогащает ее новыми эмпирическими языковыми данными, которые
    потенциально могут способствовать появлению новых идей в теоретическом осмыслении
    языка.
    <br><br>
    Благодаря этому проекту украинские конструкции и их языковые особенности привлекут
    внимание новых исследователей лингвистов, а также станут более понятными и
    доступными для тех, кто изучает украинский как второй язык, а также для широкой
    аудитории пользователей в целом. Более того, собранные данные будут полезны для
    разработки и усовершенствования программного обеспечения автоматического перевода
    и при создании новых учебных материалов.
    <br><br>
    Для каждой конструкции ресурс содержит определение ее семантики (на английском,
    украинском и русском языках), набор тегов и предлагает примеры использования
    конструкции в аутентичных украинских текстах из Генерального регионального
    аннотированного корпуса украинского языка (ГРАК, http://uacorpus.org/Kyiv /en/gracinfo).
    <br><br>
    Проект осуществляется Университетом Тромсе – Норвежским Арктическим
    Университетом.
    Логотип для интерфейса создан Даниэлем Коваликом.
    <h2>Программный код и данные</h2>
    Программный код: https://github.com/constructicon/ukrainian
    Данные: https://github.com/constructicon/ukrainian-data
    <h2>Разработчики</h2>
    Юлия Палий (доцент, Университет Тромсе – Арктический университет Норвегии): контент,
    сбор языковых данных, анализ, описание конструкций, аннотирование, статьи и доклады<br><br>
    Зоя Бутенко (студентка факультета информатики, Университет
    Осло): программирование, создание интерфейса, статьи и доклады<br><br>
    Лора А. Янда (профессор, Университет Тромсе – Арктический университет Норвегии):
    общая концепция, анализ языковых данных, статьи и доклады<br><br>
    Анна Эндресен (постдок, Университет Тромсе – Арктический университет Норвегии):
    общая концепция, предварительные исследования, дизайн ресурса, статьи и доклады<br><br>
    Валентина Жукова (аспирант, Университет Тромсе – Арктический университет Норвегии):
    общая концепция, предварительные исследования, дизайн ресурса, статьи и доклады
    <h2>Статьи и доклады</h2>
    “A Constructicon for Ukrainian: Objectives, Strategies, Results” [= Конструктикон для
    украинского языка: цели, стратегии, результаты], доклад на 16-й Международной
    конференции по когнитивной лингвистике (ICLC 16), Университет Дюссельдорфа им.
    Генриха Гейне, Дюссельдорф, Германия, 7–11 августа 2023 г., https://iclc16.phil.hhu.de
    <br><br>
    “The Ukrainian Constructicon: a new research-based educational linguistic resource for
    Ukrainian” [= Украинский конструктикон: новый научно-исследовательский
    образовательный лингвистический ресурс для украинского языка] – выпуск ресурса
    Университет Тромсе – Норвежский арктический университет, август 2023 г.
    <h2>Как цитировать</h2>
    The Ukrainian Constructicon. 2023. Palii, Yuliia, Zoia Butenko, Laura A. Janda, Anna Endresen,
    Valentina Zhukova. https://github.com/constructicon/ukrainian
    <h2>Как предложить конструкцию</h2>
    Вы можете предложить конструкцию для этого ресурса, отправив письмо по адресу
    yuliia.palii@hotmail.com
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

{% endblock content %}