{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}
  <div id="app" v-cloak>

    <div v-if="show_data_spinner">
      <div class="row top-buffer">
        <div class="col-md-12">
        <h1>Loading data (can take few seconds) ...</h1>
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>

    <div v-if="all_data_loaded">
      <div class="row">
        {% block search %}
        {% endblock search %}
        <div class="row">

        <div class="col-md-12 px-5">
          <div v-if="record_numbers_matching_search.length > 0">

            <div class="form-group">
              <label>Results</label>
              <select v-model="current_record_number" class="form-control" size="10">
                <option v-for="record_number in record_numbers_matching_search" :value="record_number">
                  {[ record_number ]}.

                  <b>{[ records[record_number].name ]}</b>
                  &nbsp;
                  |
                  &nbsp;
                  <i>{[ records[record_number].illustration ]}</i>
                </option>
              </select>
            </div>
          </div>
        </div>
<!--      <div>-->
<!--&lt;!&ndash;        with blocks instead of a carousel&ndash;&gt;-->
<!--      <div v-if="current_record_number == null">-->
<!--        <section class="p-1">-->
<!--          <div class="container px-3">-->
<!--            <div class="row text-wrap overflow-hidden">-->
<!--              <div class="col-md p-3 text-opacity-100 m-3" style="background-color: rgba(180,210,112, 0.4)">-->
<!--                <b>Что такое конструкции?</b><br><br>-->
<!--                Это структуры, которые, как кирпичики, образуют предложения и их-->
<!--                части. Есть простые конструкции,-->
<!--                например, <i>Меня зовут Петя</i>, а есть сложные — <i>Он нет-нет да и-->
<!--                спросит</i>. Все они имеют фиксированную (якорь) и переменные-->
<!--                части (слоты): якоря <i>зовут</i> и <i>нет-нет да и</i> окружены слотами с-->
<!--                заранее заданными свойствами. По-разному заполняя слоты одной-->
<!--                конструкции, можно говорить разные вещи: <i>Мою дочку зовут Маша,-->
<!--                Повара зовут Иван Петрович…</i> или: <i>Я нет-нет да и ошибусь, Нет-нет да и скажешь какую-нибудь ерунду</i>.-->
<!--                Якоря и слоты конструкций связаны между собой неразрывно, поэтому мы помним конструкции целиком.-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row text-wrap overflow-hidden">-->
<!--              <div class="col-md p-3 text-opacity-100 m-3" style="background-color: rgba(180,210,112, 0.4)">-->
<!--                <b>Зачем нужен Русский Конструктикон?</b><br><br>-->
<!--                Конструкций в языке очень много,-->
<!--                в каждом языке они свои, а учат им редко, и в словарях их трудно-->
<!--                найти. Русский Конструктикон помогает правильно употреблять конструкции и понимать их особенности.-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row text-wrap overflow-hidden">-->
<!--              <div class="col-md p-3 text-opacity-100 m-3" style="background-color: rgba(180,210,112, 0.4)">-->
<!--                <b>Что здесь можно узнать?</b><br><br>-->
<!--                Русский Конструктикон собирает конструкции для разных уровней-->
<!--                владения языком, объясняет их устройство и значение,-->
<!--                даёт примеры употребления и многое другое. Здесь можно искать-->
<!--                конструкции по якорным словам, по их значению и другим-->
<!--                свойствам.-->
<!--              </div>-->
<!--          </div>-->
<!--          <div class="row text-wrap overflow-hidden">-->
<!--            <div class="col-md p-3 text-opacity-100 m-3" style="background-color: rgba(180,210,112, 0.4)">-->
<!--              <b>Как сделан этот ресурс?</b><br><br>-->
<!--              Русский Конструктикон – это совместный проект группы CLEAR из-->
<!--              Норвежского Арктического Университета (Тромсе) и Школы-->
<!--              лингвистики НИУ ВШЭ (Москва). Мы используем теоретические-->
<!--              рамки Грамматики конструкций и опираемся на данные-->
<!--              Национального корпуса русского языка (НКРЯ).-->
<!--            </div>-->
<!--          </div>-->
<!--          </div>-->
<!--        </section>-->
<!--      </div>-->
          <div v-if="current_record_number == null">
        <div id="carouselExampleIndicators" class="carousel slide pl-5 pr-5 pt-2 pb-5 mr-5 mt-5" data-ride="carousel" style="background-color: rgba(180,210,112, 0.4); width:100%; height: 300px">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active px-5">
                <h1 class="d-block mx-auto w-70 h-100">Что такое конструкции?</h1><br>
                  Это структуры, которые, как кирпичики, образуют предложения и их
                  части. Есть простые конструкции,
                  например, <i>Меня зовут Петя</i>, а есть сложные — <i>Он нет-нет да и
                  спросит</i>. Все они имеют фиксированную (якорь) и переменные
                  части (слоты): якоря <i>зовут</i> и <i>нет-нет да и</i> окружены слотами с
                  заранее заданными свойствами. По-разному заполняя слоты одной
                  конструкции, можно говорить разные вещи: <i>Мою дочку зовут Маша,
                  Повара зовут Иван Петрович…</i> или: <i>Я нет-нет да и ошибусь, Нет-нет да и скажешь какую-нибудь ерунду</i>.
                  Якоря и слоты конструкций связаны между собой неразрывно, поэтому мы помним конструкции целиком.
            </div>
            <div class="carousel-item px-5">
                <h1 class="d-block mx-auto w-70 h-100">Зачем нужен Русский Конструктикон?</h1><br>
                  Конструкций в языке очень много,
                  в каждом языке они свои, а учат им редко, и в словарях их трудно
                  найти. Русский Конструктикон помогает правильно употреблять конструкции и понимать их особенности.
            </div>
            <div class="carousel-item px-5">
                <h1 class="d-block mx-auto w-70 h-100">Что здесь можно узнать?</h1><br>
                  Русский Конструктикон собирает конструкции для разных уровней
                  владения языком, объясняет их устройство и значение,
                  даёт примеры употребления и многое другое. Здесь можно искать
                  конструкции по якорным словам, по их значению и другим
                  свойствам.
            </div>
            <div class="carousel-item px-5">
                <h1 class="d-block mx-auto w-70 h-100">Как сделан этот ресурс?</h1><br>
                  Русский Конструктикон – это совместный проект группы CLEAR из
                  Норвежского Арктического Университета (Тромсе) и Школы
                  лингвистики НИУ ВШЭ (Москва). Мы используем теоретические
                  рамки Грамматики конструкций и опираемся на данные
                  Национального корпуса русского языка (НКРЯ).
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
          </div>
      <div class="row top-buffer">
        <div class="col-md-12">
          <div v-if="current_record_number != null">
            {[ current_record_number ]}
            <br>

            <b>NAME</b><br>
            <b>{[ records[current_record_number].name ]}</b> - <i>{[ records[current_record_number].illustration ]}</i>

            <div v-for="definition in records[current_record_number].definitions">
              <br>
              <b>DEFINITION ({[ to_title_case(key(definition)) ]})</b> <br><span v-html="annotate(value(definition))"></span>
              <br>
            </div>

            <br>
            <b>EXAMPLES</b>
            <ol>
              <li v-for="example in records[current_record_number].examples"><span v-html="annotate(example)"></span></li>
            </ol>

            <br>
            <b>CEFR LEVEL:</b> {[ records[current_record_number].cefr_level ]}
            <br>

            <br>
            <input type="checkbox" id="checkbox" v-model="show_additional_information">
            <label for="checkbox">Show additional information</label>

            <div v-if="show_additional_information">
              <br>
              <b>COMMON FILLERS</b>
              <ul v-if="records[current_record_number].common_fillers[0] != null">
                <li v-for="item in records[current_record_number].common_fillers">{[ item ]}</li>
              </ul>

              <br>
              <br>

              <b>SEMANTIC TYPE</b>
              <ul>
                <li v-for="item in records[current_record_number].semantic_types">
                  {[ item['type'] ]}
                  <ul>
                    <li v-for="it in item['subtypes']">{[ it['type'] ]}</li>
                  </ul>
                </li>
              </ul>

              <br>
              <b>SYNTACTIC TYPE OF CONSTRUCTION</b>
              <ul>
                <li v-for="item in records[current_record_number].syntactic_type_of_construction">{[ item ]}</li>
              </ul>

              <br>
              <b>SYNTACTIC FUNCTION OF ANCHOR</b>
              <ul>
                <li v-for="item in records[current_record_number].syntactic_function_of_anchor">{[ item ]}</li>
              </ul>

              <br>
              <b>SYNTACTIC STRUCTURE OF ANCHOR</b>
              <ul>
                <li v-for="item in records[current_record_number].syntactic_structure_of_anchor">{[ item ]}</li>
              </ul>

              <br>
              <b>PART OF SPEECH OF ANCHOR</b>
              <ul>
                <li v-for="item in records[current_record_number].part_of_speech_of_anchor">{[ item ]}</li>
              </ul>

              <br>
              <b>DEPENDENCY STRUCTURE</b>
              <ol>
                <li v-for="item in records[current_record_number].dependency_structure">{[ item ]}</li>
              </ol>

              <br>
              <b>DEPENDENCY STRUCTURE OF ILLUSTRATION</b>
              <ol>
                <li v-for="item in records[current_record_number].dependency_structure_of_illustration">{[ item ]}</li>
              </ol>

              <br>
              <b>COMMUNICATIVE TYPE</b>
              <ul>
                <li v-for="item in records[current_record_number].intonation">{[ item ]}</li>
              </ul>

              <br>
              <b>USAGE LABEL</b> {[ records[current_record_number].usage_label ]}
              <br>

              <br>
              <b>COMMENT</b> <br> {[ records[current_record_number].comment ]}
              <br>

              <br>
              <b>REFERENCES</b>
              <ul v-if="records[current_record_number].references[0] != ''" >
                <li v-for="item in records[current_record_number].references">{[ item ]}</li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block extrajs %}
  <script src="{{ config.base_url | safe }}/js/constructicon.js"></script>
{% endblock extrajs %}
