{% extends "base.html" %}

{% block content %}
  <div id="app" v-cloak>
    <div v-if="all_data_loaded">

      <div class="row top-buffer">
        <div class="col-md-6">
          {% block search %}
          {% endblock search %}
        </div>

        <div class="col-md-6">
          <div v-if="record_numbers_matching_search.length > 0">

            <div class="form-group">
              <label>Results</label>
              <select v-model="current_record_number" class="form-control" size="10">
                <option v-for="record_number in record_numbers_matching_search" :value="record_number">
                  {[ record_number ]}
                  -
                  <b>{[ records[record_number].name ]}</b>
                  -
                  <i>{[ records[record_number].illustration ]}</i>
                </option>
              </select>
            </div>
          </div>
        </div>
      <div>

      <div class="row top-buffer">
        <div class="col-md-12">
          <div v-if="current_record_number != null">
            <b>{[ current_record_number ]}</b>
            <br>

            <b>NAME</b> <b>{[ records[current_record_number].name ]}</b> - <i>{[ records[current_record_number].illustration ]}</i>

            <div v-for="definition in records[current_record_number].definitions">
              <br>
              <b>DEFINITION ({[ key(definition) ]})</b> {[ value(definition) ]}
              <br>
            </div>

            <br>
            <b>STRUCTURE</b> {[ records[current_record_number].structure_in_ud ]}
            <br>

            <br>
            <b>EXAMPLES</b>
            <ul v-for="example in records[current_record_number].examples">
              <li>{[ example ]}</li>
            </ul>

            <br>
            <b>CEFR LEVEL</b> {[ records[current_record_number].cefr_level ]}
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}
