{% extends "browse.html" %}

{% block search %}
<div class="col-md-6 top-buffer">
  <form>
    <div class="form-group">
      <label>Search in names and illustrations</label>
      <input v-model="search_string" class="form-control" placeholder="не говоря о" onkeydown="if(event.keyCode==13){return false;}">
    </div>
  </form>
</div>
<div class="col-md-6">
  {{ macros::treeselect(key="level") }}
</div>
{% endblock search %}

{% block carousel %}
<div id="carouselExampleIndicators" class="carousel slide pl-5 pr-5 pt-2 pb-5 mr-5 mt-5" data-ride="carousel" style="background-color: rgba(180,210,112, 0.4); width:100%; height: 300px">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active px-5">
      <h1 class="d-block mx-auto w-70 h-100">Что такое конструкции?</h1><br>
      Это структуры, которые, как кирпичики, образуют предложения и их
      части. Есть простые конструкции,
      например, <i>Меня зовут Петя</i>, а есть сложные — <i>Он нет-нет да и
      спросит</i>. Все они имеют фиксированную (якорь) и переменные
      части (слоты): якоря <i>зовут</i> и <i>нет-нет да и</i> окружены слотами с
      заранее заданными свойствами. По-разному заполняя слоты одной
      конструкции, можно говорить разные вещи: <i>Мою дочку зовут Маша,
      Повара зовут Иван Петрович…</i> или: <i>Я нет-нет да и ошибусь, Нет-нет да и скажешь какую-нибудь ерунду</i>.
      Якоря и слоты конструкций связаны между собой неразрывно, поэтому мы помним конструкции целиком.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">Зачем нужен Русский Конструктикон?</h1><br>
      Конструкций в языке очень много,
      в каждом языке они свои, а учат им редко, и в словарях их трудно
      найти. Русский Конструктикон помогает правильно употреблять конструкции и понимать их особенности.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">Что здесь можно узнать?</h1><br>
      Русский Конструктикон собирает конструкции для разных уровней
      владения языком, объясняет их устройство и значение,
      даёт примеры употребления и многое другое. Здесь можно искать
      конструкции по якорным словам, по их значению и другим
      свойствам.
    </div>
    <div class="carousel-item px-5">
      <h1 class="d-block mx-auto w-70 h-100">Как сделан этот ресурс?</h1><br>
      Русский Конструктикон – это совместный проект группы CLEAR из
      Норвежского Арктического Университета (Тромсе) и Школы
      лингвистики НИУ ВШЭ (Москва). Мы используем теоретические
      рамки Грамматики конструкций и опираемся на данные
      Национального корпуса русского языка (НКРЯ).
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock carousel %}
